html, body {
    height: 100%; 
    margin: 0; 
}

.gameContainer {
    display: flex;           
    text-align: center;
    justify-content: center;  
    align-items: center;      
    flex-direction: column; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('https://img.freepik.com/free-vector/floral-pattern_53876-64518.jpg?t=st=1727220519~exp=1727224119~hmac=b98ca99ae41f06d2f5990733e113400ec92aefc1866c26143865f50b5b588b76&w=1800');
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
}

h1 { 
    color: #717d74;
    font-size: 50px;
    background-color: #f5ebc7; 
    width: 100%; 
    max-width: 320px; 
    margin-bottom: 10px;
    border-radius: 10px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);   
    text-align: center;
}

.turnMessage {
    font-size: 1.5rem;
    font-weight: bolder; 
    color:white;
    text-shadow: 0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black;
}

.cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto); 
    gap: 10px;  
    width: 100%;
    max-width: 320px; 
    margin: 20px 0;
}

.cell {
    height: 100px; 
    width: 100px; 
    background-color: rgba(255, 255, 255, 0.75);
    border: none; 
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);   
    font-size: 3rem;
    line-height: 6rem;
    color: #717d74;
    font-weight: bolder;
    transition: background-color 0.3s ease; 
}

.cell:hover {
    transform: scale(1.02); 
    cursor: pointer; 
    background-color: rgb(203, 212, 171, 0.9);
}

.cell.x {
    background-color: rgb(203, 188, 226);
}

.cell.o {
    background-color: rgb(169, 185, 212);
}

.cell.hover-disabled {
    transform: none; 
}

.restartButton {
    padding: 10px; 
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);   
    border-radius: 10px; 
    border: none;
    margin: 10px 0;
    width: 100%; 
    max-width: 100px; 
    text-align: center;
    background-color: #f5ebc7;
    color: #717d74;
    font-weight: bold;
}

.restartButton:hover {
    background-color: #f9e3c7; 
    cursor: pointer;
}

#playAgainButton {
    width: 150px; 
    max-width: 150px;
    margin-top: 10px; 
    padding: 12px; 
    font-size: 0.7em; 
    background-color: #f5ebc7; 
    color: #717d74; 
    border: none; 
    border-radius: 10px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    transition: background-color 0.3s ease;
    max-width: 200px;
}

#playAgainButton:hover {
    background-color: #f9e3c7; 
    cursor: pointer;
}

.overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.winningMessageContainer {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 2em; 
    z-index: 2; 
    text-align: center;
    display: none; 
}

.bounce {
    animation: bounce 0.5s ease forwards; 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); 
    }
    40% {
        transform: translateY(-20px); 
    }
    60% {
        transform: translateY(-10px); 
    }
}
